body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #181818;
    color: #fff;
}

header {
    text-align: center;
    background-color: #333;
    padding: 4vw 0;
}

h1 {
    color: #2ecc71;
    font-family: 'Arial', sans-serif;
    margin-bottom: 2vw;
    font-size: 5vw;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 2vw 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1.5vw 3vw;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin: 0 2vw;
}

nav a:hover {
    background-color: #555;
}

main {
    margin-top: 4vw;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    border: 1px solid #444;
    margin-bottom: 4vw;
    padding: 4vw;
    background-color: #333;
    width: 80%;
    border-radius: 5px;
}

.comment {
    border: 1px solid #444;
    margin: 2vw 0;
    padding: 2vw;
    background-color: #333;
    border-radius: 5px;
}

.commentForm {
    width: 80%;
}

input, textarea, button {
    width: 90%;
    padding: 3vw;
    margin-bottom: 3vw;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #444;
    color: #fff;
}

button {
    background-color: #2ecc71;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #27ae60;
    box-shadow: 0 3vw 4vw rgba(0, 0, 0, 0.2);
}

#errorMessage {
    color: #ff6666;
    text-align: center;
    margin-top: 4vw;
}

.comment-meta {
    font-size: 2vw;
    color: #888;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 3vw;
    text-align: center;
    margin-top: 10vw;
}

footer p {
    margin: 2vw 0;
}

footer .donate-link {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para la sección de donaciones oculta */
#bitcoinDonation {
    display: none;
    margin-top: 4vw;
    text-align: center;
}

.comments {
    max-height: 600px; /* Establece la altura máxima de la sección de comentarios */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.comment {
    border: 1px solid #444;
    margin: 2vw 0;
    padding: 2vw;
    background-color: #333;
    border-radius: 5px;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        padding: 8px 0;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    nav {
        padding: 8px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        padding: 6px 12px;
        margin: 5px;
    }

    main {
        padding: 10px;
    }

    .post {
        width: 100%;
    }

    .commentForm {
        width: 90%;
    }
}
