body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #181818;
    color: #fff;
}

header {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
}

h1 {
    color: #2ecc71;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin: 0 5px;
}

nav a:hover {
    background-color: #555;
}

main {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    border: 1px solid #444;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333;
    width: 80%;
    border-radius: 5px;
}

.comment {
    border: 1px solid #444;
    margin: 10px 0;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

.commentForm {
    width: 80%;
}

input, textarea, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #444;
    color: #fff;
}

button {
    background-color: #2ecc71;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #27ae60;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#errorMessage {
    color: #ff6666;
    text-align: center;
    margin-top: 10px;
}

.comment-meta {
    font-size: 0.8em;
    color: #888;
}

/* Estilos para pantallas de celulares */
@media (max-width: 480px) {
    header {
        padding: 10px 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    .post {
        width: 90%;
    }

    /* Otros ajustes para pantallas pequeñas */
}


/* Estilos comunes para dispositivos de tamaño mayor a celulares */
@media (min-width: 481px) {
    header {
        padding: 20px 0;
    }

    nav {
        justify-content: center;
    }

    /* Otros ajustes para tamaños de pantalla mayores a celulares */
}

/* Otros estilos comunes que se aplicarán independientemente del tamaño de pantalla */
/* ... */
